<!-- Functions Section -->
    <section id="challenges">
        <div class="container ">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Cloud Computing Disillusionment</h2>
                    <h3 class="section-subheading text-muted">“There's truths you have to grow into.”<br/>― H.G. Wells, Love and Mr. Lewisham</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Vendor Lock</h4>
                    <p class="text-muted">
                    Platform lock-in<br/>
                    Data lock-in<br/>
                    Tools lock-in</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-usd fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Spiraling Cost</h4>
                    <p class="text-muted">Very hard to predict, control, and optimizing for cost</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-arrows-alt fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Lack of elasticity</h4>
                    <p class="text-muted">Growing and shrinking according to need<br/>Shifting resources between services<br/>Too much human intervention is required</p>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-wrench fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Operational Complexity</h4>
                    <p class="text-muted">Juggling too many balls</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-bar-chart-o fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Inefficiencies</h4>
                    <p class="text-muted">
                    Low average utilization<br/>
                    Inability to optimize in real-time<br/>
                    Unused resources<br/>
                    </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-cloud fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Multi-Cloud</h4>
                    <p class="text-muted">Hybrid / Multi-Cloud - efficiently utilizing multiple clouds at the same time - is extremely complicated</p>
                </div>
            </div>
        </div>
    </section>