
body {
  font-family: "hack", monospace;
  font-size: 16px;
  font-weight: 400;
  background-color: $color_bg;
  color: $color_punct;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  overflow: hidden; /* Optional to prevent scrollbars */

}